/* Style the header */

.header {
	height: 50px;
	width: 100%;
	background: grey;
	display: flex;
}

.left_header {
	background: yellow;
	width: 210px;
}

.right_header {
	background: grey;
	flex: 1;
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Style div-s inside right header */

.left_container {
	flex: 1;
	display: flex;
	align-items: center; 
}

.right_container {
	width: 12vw;
}

/* Style main part */

.main { 
	display: flex; 
	min-height: calc(100vh - 50px);
}

nav {
	flex: 0 0 11vw;
	background: black;
	display: flex;
	flex-direction: column;
}

.content {
	background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
	flex: 1;
	padding: 10px 15px 5px 15px;

	display: flex;
	flex-direction: row;

	overflow: auto;
}

/* Style nav items */

.menuItemContainer { 
	display: flex;
	align-items: center;
	flex: 1;
}

.menuItem { 
	flex: 1;
}

.menuItemRemove { 
	position: absolute;
	left: 160px;
}

.addProjectBtn { 
	padding: 0 40px;
}

/* Style tab items */

.tab {
	background: cadetblue;
	min-width: 300px;
	max-width: 300px;
	height: 92vh;
	margin-right: 15px;
	display: flex;
	flex-direction: column;
}

.tabTitleContainer {
	background: purple;
	height: 40px;
	padding: 10px;
	display: flex;
	flex-direction: row;
}

.tabTitle {
	font-size: 23px;
	color: white;
}

.tabTitleAlign {
	flex: 1
}

.tabAciveNum {
	font-size: 23px;
	padding-right: 5px;
	color: white;
}

.tabTimelineContainer {
	overflow: auto;
}